extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title + " | " + config.subtitle
block content

  .post
    for post in page.posts.toArray()
      .post-items
        .post-title
          a(href=url_for(post.path))= post.title
        .post-meta
          != post.date.format(config.date_format)
          if post.tags
            span.post-tags
              for tag in post.tags.toArray()
                a(href=url_for(tag.path))
                  != tag.name
        .post-content
          != post.excerpt
        p(class="readmore")
          a(href=url_for(post.path))= __('Readmore') + "..."

  include _partial/paginator
