extends base
- var current_title = page.title || tag.name || category.name || site.title

block title
  title= config.title + " | " + config.subtitle
block content

  .index
    for post in page.posts.toArray()
      .post-items
        .post-title
          a(href=url_for(post.path))= post.title
        .post-meta
          != post.date.format(config.date_format)
          if post.tags
            span.post-tags
              for tag in post.tags.toArray()
                span= tag.name

  include _partial/paginator
