extends base

block title
  title= page.title + " | " + config.title

block content
  article.post
    .post-title= page.title
    .post-meta
      span.post-date= page.date.format(config.date_format)
      if page.tags
        span.post-tags
          for tag in page.tags.toArray()
            span= tag.name
    .post-content
      != page.content

    include _partial/post_nav
    include _partial/comments
