@charset "utf-8";

$color_green: #42b983;
$color_blue: #0075c9;
$color_orange: #e96900;
$color_grey: #7f8c8d;
$color_red: #e36b6b;

// font color
$global_font_color: #34495e;
$title_font_color: $color_blue;
$a_font_color: $color_blue;
$post_a_font_color: $color_green;
$inline_code_color: $color_orange;
$post_meta_color: $color_grey;
// background color
$post_tag_backgroud: $color_red;
// border color
$border_default_color: #ddd;

@import "scss/base";
@import "scss/post";
@import "scss/highlight";
@import "scss/tag-cloud";
