body {
    margin: auto;
    color: $global_font_color;
    font-size: 15px;
    font-family: 'Monaco', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $link_font_color;
}

@media screen and (min-width: 740px) {
    body {
        width: 700px;
    }
}
@media screen and (max-width: 740px) {
    body {
        margin: {
            left: 20px;
            right: 20px;
        }
    }
}

header, footer, .container{
    padding: {
        top: 20px;
        bottom: 20px;
    }
}

header {
    min-height: 60px;
    margin: {
        top: 20px;
        bottom: 20px;
    }

    .site-title {
        a {
            color: $title_font_color;
        }
        font-family: 'Helvetica Neue';
        font-size: 30px;
    }

    .site-menus {
        text-align: right;
        .menu-item {
            display: inline-block;
            margin-left: 15px;
            padding: 5px;
            a {
                color: $global_font_color;
                &:hover {
                    border-bottom: 2px solid $link_font_color;
                }
            }
        }
    }
}

footer {
    text-align: center;
    font-size: 0.9em;
}