.post-title {
    font-size: 1.4em;
    font-weight: normal;
    color: $color_black;
    a {
        color: inherit;
        &:hover {
            border-bottom: 2px solid $post_a_font_color;
        }
    }
}

.post-meta {
    padding-top: 15px;
    .post-tags {
        span {
            margin-left: 10px;
            color: inherit;
            &:before {
                content: '·';
                margin-right: 10px;
            }
        }
    }
}

.post-content {
    a {
        color: $post_a_font_color;
    }

    h2 {
        color: $color_black;
        font-size: 1.4em;
        font-weight: normal;
        margin: 1.2em 0;
    }

    h3 {
        color: $color_black;
        position: relative;
        font-weight: normal;
        &:before{
            content: "#";
            position: absolute;
            left: -20px;
            color: $color_green;
        }
    }

    h4 {
        position: relative;
        &:before{
            content: '';
            position: absolute;
            left: -16px;
            top: 10px;
            background: $color_green;
            border: 1px solid $color_green;
            height: 3px;
            width: 3px;
            border-radius: 100%;
        }
    }

    ul {
        li {
            list-style: circle;
        }
    }

    hr {
        display: block;
        margin: 10px 0;
        border-top: 2px dashed $border_default_color;
        border-bottom: none;
    }
}

.index {
    .post-items {
        padding: 20px 0;
        border-bottom: 1px solid $border_default_color;
        .readmore a {
            color: $color_blue;
        }
        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            border-bottom: 0;
        }
        .post-meta{
            color: $post_meta_color;
        }
        
    }
}

.post {
    .post-title {
        text-align: center;
    }
    .post-meta {
        text-align: center;
    }
    .post-content {
        margin-top: 80px;
    }
}

.page-nav {
    margin: {
        top: 10px;
        bottom: 50px;
    }
    a {
        color: $global_font_color;
        display: inline-block;
        padding: 5px 20px;
        border: 1px solid $border_default_color;
        &.pre {
            float: left;
        }
        &.next {
            float: right;
        }
        &:hover {
            border-color: #999;
        }
    }
}

.post-nav {
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    white-space: nowrap;
    border-top: 1px solid $border_default_color;
    a {
        color: $global_font_color;
        display: inline-block;
        line-height: 25px;
        border-bottom: none;
        float: left;
        span {
            padding-top: 0;
        }
        &.pre {
            float: left;
            :before {
                content: "< ";
            }
        }
        &.next {
            float: right;
            :before {
                content: " >";
            }
        }
        &:hover {
            border-bottom: none;
            color: #e36b6b;
        }
    }
}

.post-toc {
    background: white;
    position: absolute;
    top: 250px;
    right: 50px;
    margin: {
        top: 20px;
        left: 10px;
        bottom: 10px;
    }
    padding: 10px;
    border: 1px solid $global_font_color;
    border-radius: 7px;
    max-width: 250px;
    .toc {
        // remove ul,li padding
        padding: 0;
        li {
            list-style-type: none;
            a {
                color: $global_font_color;
                &:hover {
                    color: $a_font_color;
                }
            }
        }
    }
    .toc-title {
        font-size: 1.2em;
    }
}

blockquote {
    margin-left: 0;
    padding-left: 20px;
    border-left: 4px solid $a_font_color;
}

img {
    margin: auto;
    max-width: 100%;
    display: block;
}

table {
    margin: auto;
    text-align: left;
    border-collapse: collapse;
    min-width: 250px;
    thead {
        background: #ddd;
    }
    tbody {
        tr:nth-child(2n){
            background: #eee;
        }
    }
    th, td {
        padding: 5px;
    }
}

// comment widgets
#disqus_thread, .ds-thread{
    margin: {
        top: 50px;
        bottom: 20px;
    }
}
